#############
## MAGENTO SOURCE CODE
#############
downloader/*
var/*
errors/*
includes/*
shell/*
pkinfo/*
pkginfo/*
app/code/core/*
app/code/community/*
app/design/install/*
app/design/frontend/default/*
app/design/frontend/rwd/*
app/design/frontend/base/default/etc/*
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/layout/pdp.xml
app/design/frontend/base/default/template/*
!app/design/frontend/base/default/template/pdp/*
app/design/adminhtml/default/default/etc/*
app/design/adminhtml/default/default/locale/*
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/pdp.xml
app/design/adminhtml/default/default/template/*
!app/design/adminhtml/default/default/template/pdp/*
app/etc/*
app/etc/modules/MST_Pdp.xml
app/locale/*
!app/locale/en_US/MST_Pdp.csv
app/.htaccess
app/Mage.php
js/*
!js/pdp/*
lib/*
!lib/TCPDF*
media/*
!media/pdp/*
skin/*
!skin/adminhtml/default/default/pdp/*
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
Step 1/*
Step 2/*